body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.drawArea {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    float: left;
    cursor: crosshair;
}

.path {
    fill: none;
    stroke-width: 1px;
    stroke: black;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.drawing {
    width: 100%;
    height: 100%;
}

.logo{
    max-width: 100px;
}

.homeIllu {
    min-height: 10vh;
    min-width: 10vh;
    background: url('illustration.png');
    background-position: top right;
    background-size: cover;
}
